.edit-release-panel {
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 30px;
}

.edit-release_inner-panel {
  display: flex;
}

.edit-release_release {
  margin-right: 48px;
  margin-left: 24px;
}

.edit-release_links {
  margin: 0 36px;
}
