.release-card_outer {
  padding: 25px 20px;
  box-shadow: var(--box-shadow);
  transition: 0.1s ease all;
  border: 3px solid transparent;
  margin: 12px 0;
}

.release-card_inner {
  display: flex;
  justify-content: space-between;

  img {
    width: 100px;
    padding: 0 10px;
  }
  h3 {
    padding-right: 10px;
    text-transform: capitalize;
  }
}

.release-card_left-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.release-card_right-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
