.outer-hero {
  width: 100%;
  background-color: black;
  z-index: -1;
}

.inner-hero {
  min-height: 475px;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url("https://res.cloudinary.com/dhnlz1f7q/image/upload/v1678119084/ymlqzptlghqbrtfapzaa.jpg");
  background-color: rgba(0, 0, 0, 0.555);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  align-items: center;
  h2:nth-child(2) {
    font-size: 48px;
    color: white;
  }
  h2:nth-child(3) {
    font-size: 36px;
    color: white;
  }
  h2:nth-child(4) {
    font-size: 24px;
    color: white;
    margin-bottom: 24px;
  }
  p {
    color: var(--light-gray);
  }
  @media screen and (max-width: 1024px) {
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.781); /* Black background with opacity */
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
}

.hero-button {
  margin: 24px 0;
  padding: 20px 35px;
  border: 1px solid white;
  color: white;
  transition: 0.2 ease all;
  background-color: transparent;
  &:hover {
    cursor: pointer;
    background-color: white;
    color: var(--accent);
  }
}
