.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: var(--box-shadow);
  background-color: white;
  z-index: 9999;
  transition: 0.2s ease all;
}
.sticky-nav {
  @extend .nav;
  position: fixed;
  top: 0px;
}
.inner-nav {
  height: 81px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
  ul {
    display: flex;
    a {
      color: var(--dark-gray);
      text-decoration: none;
    }
  }
  li {
    font-size: 15px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 32px;
    transition: 0.2s ease all;
    &:hover {
      cursor: pointer;
      color: var(--accent);
    }
  }
  .nav-button {
    color: white;
    padding: 20px 20px;
    border: none;
    outline: none;
    // margin-left: 45%;
    word-break: keep-all;
    width: 200px;
    line-height: 1;
    transition: 0.2s ease all;
    background-color: var(--accent);
    &:hover {
      cursor: pointer;
      background-color: var(--dark-gray);
    }
  }
}

.nav-left-col {
  display: flex;
  align-items: center;
}

.nav-right-col {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  margin-left: 48px;
  a {
    margin-left: 16px;
    &:hover {
      svg path {
        color: var(--dark-gray);
      }
    }
    svg path {
      cursor: pointer;
      transition: 0.2s ease all;
    }
  }
}
