.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    text-align: center;
  }
  input {
    height: 40px;
    width: 275px;
  }
  .inputContainer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 6px 0;
    label {
      font-size: 16px;
      margin: 4px 0;
    }
  }
}
