@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --max-width: 1100px;
  --primary: 255, 255, 255;
  --accent: hsl(347 93% 42% / 1);
  --text: hsl(0, 0%, 75%);
  --heading: hsl(0, 0%, 34%);
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button {
  padding: 20px 32px;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--accent);
  min-width: 175px;
  color: var(--accent);
  font-size: 16px;
  transition: 0.1s ease-in all;
  margin: 35px 0;
  text-transform: capitalize;
  &:hover {
    cursor: pointer;
    border: 1px solid var(--accent);
    background-color: var(--accent);
    color: white;
    outline: none;
  }
}

input,
select {
  height: 40px;
  width: 275px;
  padding-left: 6px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 6px 0;
  label {
    font-size: 16px;
    margin: 8px 0;
  }
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  &::first-letter {
    text-transform: capitalize;
  }
  margin: 8px auto;
  color: var(--heading);
  font-size: 24px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-panel {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 25px 20px;
  button {
    float: right;
  }
}

p {
  color: var(--text);
  font-size: 16px;
}

.p-link {
  transition: 0.2s ease all;
  cursor: pointer;
  &:hover {
    color: var(--accent);
  }
}

.username {
  text-transform: capitalize;
}
